<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="per.nullist.targetedcleaner">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TargetedCleaner"
        android:fullBackupContent="@xml/backup_descriptor">

        <activity
            android:name=".main.activity.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.activity.AppListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity
            android:name=".main.activity.TimerSettingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <receiver
            android:name=".main.receiver.AutoKillerReceiver"
            android:enabled="true">
        </receiver>
    </application>

</manifest>